* {
	margin: 0;
	padding: 0;
	font-family: sans-serif, serif;
}

body {
	margin: 0 20px;
}

.header {
	position: fixed;
	top: 0;
	margin: 0 auto;
	width: calc(100% - 40px);
	height: 60px;
	background-color: #d1d1d1;
	z-index: 1;
}

.nav-logo {
	display: inline-block;
	width: 20%;
	height: 60px;
	margin: 0 40px 0;
	font-size: 30px;
	line-height: 60px;
	text-decoration: none;
	color: #27a;
	background-color: transparent;
}

#search-form {
	position: absolute;
	top: 10px;
	right: 10%;
}

.nav-search-bar {
	width: 200px;
	padding: 10px;
	margin-right: 10px;
	border: none;
	border-radius: 5px;
	outline: none;
	box-shadow: 1px 1px 0px #d1d1d1;
}

.movie-page {
	display: flex;
	margin: 68px 0 20px;
}

.genres-list {
	line-height: 50px;
	border-radius: 5px;
	background-color: rgb(238, 238, 238);
}

.genres-head {
	padding: 10px;
	font-size: 25px;
	text-align: center;
	color: rgb(39, 126, 177);
}

.genres-name {
	width: 180px;
	list-style: none;
}

.genres-name li {
	width: 80px;
	float: left;
	display: block;
	margin: 5px;
	text-align: center;
}

.movie-genres {
	font-size: 20px;
}

.movie-list {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.movie-info-card {
	position: relative;
	width: 13rem;
	height: 500px;
	margin: 20px;
}

.movie-img {
	height: 60%;
	cursor: pointer;
}

.card-cotent {
	height: 40%;
	margin-top: 5px;
}

.card-cotent p {
	margin-top: 5px;
}

.movie-info {
	display: inline;
	margin-left: 5px;
	color: rgb(136, 121, 121);
}

.movie-description {
	position: absolute;
	bottom: 5px;
	margin-top: 15px;
}

.search-movie-lists {
	position: absolute;
	display: block;
	margin: 2px;
	border: 1px solid #ddd;
	background-color: #fff;
	z-index: 2;
}

button {
	padding: 5px 8px 5px;
	outline: none;
	border: none;
	border-radius: 5px;
	text-align: center;
	color: rgb(39, 126, 177);;
	background-color: #e2e2e2;
}

button:hover {
	opacity: 0.6;
	cursor: pointer;
}

.select-movie-page {
	width: 250px;
	margin: 20px 0;
	text-align: right;
}